@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Success!.</h1>
<h2 class="text-success">Test drive booking send for review</h2>

<a asp-action="Index" asp-controller="Home">Back to List</a>