@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Thanks for Booking for test drive</h1>
<p class="text-success">Our consultant will be with you shortly</p>

<a asp-action="Index" asp-controller="Home">Back to List</a>