@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Yeap your're one stap aheard.</h1>
<h2 class="text-success">Payment Request have been send for review</h2>

<a asp-action="Index" asp-controller="Home">Back to List</a>