@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<button class="btn btn-dark" asp-page="/Account/Login">Click</button>*@

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Registed Successful Please Click Login.</p>
    
</div>

<a asp-action="Login" class="btn btn-outline-dark">Switch to Login</a>
