@model MovieApiV.Model.CheckOut

@{
    ViewData["Title"] = "CheckOut";
}

<h1>Check Out</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckOut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarSoldCode" class="control-label"> Car Sold Code</label>
                <input asp-for="CarSoldCode" class="form-control" />
                <span asp-validation-for="CarSoldCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarCode" class="control-label">Code</label>
                <input asp-for="CarCode" class="form-control" />
                <span asp-validation-for="CarCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerCode" class="control-label">Customer Code</label>
                <input asp-for="CustomerCode" class="form-control" />
                <span asp-validation-for="CustomerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreedPrice" class="control-label">Agreed Price</label>
                <input asp-for="AgreedPrice" class="form-control" />
                <span asp-validation-for="AgreedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSold" class="control-label">Date Sold</label>
                <input asp-for="DateSold" class="form-control" />
                <span asp-validation-for="DateSold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyPaymentAmount" class="control-label">Monthly Payment Amount</label>
                <input asp-for="MonthlyPaymentAmount" class="form-control" />
                <span asp-validation-for="MonthlyPaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyPaymentDate" class="control-label">Monthly Payment Date</label>
                <input asp-for="MonthlyPaymentDate" class="form-control" />
                <span asp-validation-for="MonthlyPaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label">Details</label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
