@model IEnumerable<MovieApiV.Model.Car>
@{
    ViewData["Title"] = "Car Inventory";
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}
<script>

    function AddToCart(id, car) {
        $.ajax({
            url: '/cart/create',
            method: 'POST',
            data: { 'id': id, 'iscar': car },
            success: function (x) {
            }
        });
    };

    function CarSearch() {

        var make = $('Make').val();
        var price = $('PriceRange').val();
        $.ajax({
            url: '/home/index',
            method: 'POST',
            data: { 'make': make, 'price': price },
            success: function (x) {
            }
        });
    };
</script>
<h2>
    Car Inventory
</h2>

<div class="col-12">
    <img src="https://wallpapercave.com/wp/wp3720759.jpg" width="100%" height="500px" />
</div>
