@model MovieApiV.Model.Part

@{
    ViewData["Title"] = "Edit";
    string imgSrc = "";
    if (Model.ImagePicture != null)
    {
        var base64 = Convert.ToBase64String(Model.ImagePicture);
        imgSrc = String.Format("data:image;base64,{0}", base64);
    }
}

<h1>Edit Part</h1>
<hr />

<div>
    <div class="col-6">
        <img src="@imgSrc" height="300" width="400" />
       
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartCode" class="control-label"></label>
                <input asp-for="PartCode" readonly class="form-control" />
                <span asp-validation-for="PartCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartName" class="control-label"></label>
                <input asp-for="PartName" class="form-control" />
                <span asp-validation-for="PartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacture" class="control-label"></label>
                <input asp-for="Manufacture" class="form-control" />
                <span asp-validation-for="Manufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePicture" class="control-label">Upload Part</label>
                <div>
                    <input class="form-control-file" id="file" type="file" name="Image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="btnPost" class="btn btn-primary">Save</button>&nbsp;
                @*<input type="button" value="Delete Image" class="btn btn-danger" onclick="Delete('@Model.PartCode')" />*@

                <button type="submit" class="btn btn-outline-danger" onclick="Delete('@Model.PartCode')">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>

                <a asp-action="parts" asp-controller="admin">Back to List</a>
            </div>
        </form>
    </div>
</div>


<script>

    function Delete(id) {
        $.ajax({
            url: '/parts/DeleteImage',
            method: 'POST',
            data: { 'id': id },
            success: function (x) {
                if (x.success) {
                    window.location.reload();
                }
            }
        });
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
