@model MovieApiV.Model.Car

@{
    ViewData["Title"] = "Edit";
    string imgSrc = "";
    if (Model.ImagePicture != null)
    {
        var base64 = Convert.ToBase64String(Model.ImagePicture);
        imgSrc = String.Format("data:image;base64,{0}", base64);
    }
}

<h1>Edit Car</h1>
<hr />

<div>
    <div class="col-6">
        <img src="@imgSrc" height="300" width="400" />
    </div>
</div>
<hr />
<div class="container col-md-12" >
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            

            <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarCode" class="control-label"></label>
                <input asp-for="CarCode" readonly class="form-control" />
                <span asp-validation-for="CarCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarDescription" class="control-label"></label>
                <input asp-for="CarDescription" class="form-control" />
                <span asp-validation-for="CarDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

            <div class="col-md-8">

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqistationYear" class="control-label"></label>
                <input asp-for="ReqistationYear" class="form-control" />
                <span asp-validation-for="ReqistationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureCode" class="control-label"></label>
                <input asp-for="ManufactureCode" class="form-control" />
                <span asp-validation-for="ManufactureCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAcquired" class="control-label"></label>
                <input asp-for="DateAcquired" class="form-control" />
                <span asp-validation-for="DateAcquired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatCode" class="control-label"></label>
                <input asp-for="CatCode" class="form-control" />
                <span asp-validation-for="CatCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelCode" class="control-label"></label>
                <input asp-for="ModelCode" class="form-control" />
                <span asp-validation-for="ModelCode" class="text-danger"></span>
            </div>

        </div>

            
            <div class="form-group">
                <label asp-for="ImagePicture" class="control-label">Upload Part</label>
                <div>
                    <input class="form-control-file" id="file" type="file" name="Image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="btnPost" class="btn btn-primary">Save</button>&nbsp;
                @*<input type="button" value="Delete Image" class="btn btn-danger" onclick="Delete('@Model.CarCode')" />*@

                <button type="submit" class="btn btn-outline-danger"  onclick="Delete('@Model.CarCode')">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>

                <a asp-action="cars" asp-controller="admin">Back to List</a>
            </div>
        </form>
    
</div>


<script>

    function Delete(id) {
        $.ajax({
            url: '/cars/DeleteImage',
            method: 'POST',
            data: { 'id': id },
            success: function (x) {
                if (x.success) {
                    window.location.reload();
                }
            }
        });
    };
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
